.cover__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.cover__link::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s linear;
}

.cover__link:hover::before {
  opacity: .8;
}
