.gallery {
  width: 100%;
  box-sizing: border-box;
  padding: 0 48px;
}

@media screen and (max-width: 1023px) {
  .gallery {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    padding: 0 16px;
  }
}
