.places__link {
  margin-top: 12px;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  border-bottom: 2px solid #fff;
  transition: opacity 0.3s linear, border-bottom-color 0.3s linear;
}

.places__link:hover {
  opacity: .8;
  border-bottom-color: rgba(255, 255, 255, .8);
}
